:root {
  --primary-color: #022954;
  --secondary-color: #354c7c;
  --color3: #505a74;
  --color4: #b0b8ce;
  --color5: #eaebfe;
  --primary-font: "Open Sans", sans-serif;
  --secondary-font: "Libre Baskerville", serif;
  --font3: "Sacramento", cursive;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.hero {
  background-color: var(--color5);
  text-align: center;
  margin: 0;
  padding: 160px 20px;
}

.button-primary {
  background-color: var(--secondary-color);
  border: none;
  border-radius: 24px;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: var(--secondary-font);
  margin: 4px;
  margin-top: 30px;
}

.button-primary:hover {
  background-color: var(--color4);
  border: none;
  border-radius: 24px;
  color: var(--secondary-color);
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: var(--secondary-font);
  margin: 4px;
  margin-top: 0px;
}

.project-description {
  padding: 30px;
  padding-top: 60px;
}

h1 {
  font-family: var(--secondary-font);
  color: var(--color3);
  font-size: 27px;
  opacity: 0.9;
}

h2 {
  font-family: var(--font3);
  color: var(--color4);
  font-size: 60px;
}

h3 {
  font-family: var(--primary-font);
  color: var(--secondary-color);
  font-size: 24px;
}

p {
  font-family: var(--primary-font);
  color: black;
  font-size: 18px;
  line-height: 1.5;
}

.headshot {
  width: 600px;
  border-radius: 20px;
  margin-left: 40px;
}

.branding-header {
  background-color: var(--color5);
  padding: 30px;
  border-radius: 20px;
  color: var(--primary-color);
}

.content-container {
  padding: 100px 30px;
  text-align: center;
}

.content-container h1 {
  font-size: 40px;
}

.content-container h2 {
  font-size: 50px;
}

.content-container p {
  padding: 0 20px;
}

.weatherapp,
.charlie {
  width: 500px;
  padding-bottom: 20px;
}

@media (max-width: 767px) {
  .project-description {
    padding-top: 0;
    padding-bottom: 20px;
    text-align: center;
  }

  .button-primary {
    margin-bottom: 30px;
  }

  .content-container {
    padding: 10px;
    padding-top: 40px;
    text-align: center;
    flex-direction: column;
  }

  .content-container h1 {
    font-size: 35px;
  }

  .content-container h2 {
    font-size: 40px;
    padding: 20px;
  }

  .content-container p {
    padding: 5px;
  }

  .button-primary {
    margin-bottom: 50px;
  }
}
